@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background: #141414;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.image-container {
  position:relative;
  transition: transform 0.2s;
}
.image-container:hover {
  transform: scale(1.07);
}
.movie-poster{
  height: 300px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height:0;
  overflow: hidden;
  font-size: 14px;
  opacity: 0;
  transition: 0.5s ease;
}
.image-container:hover .overlay{
  cursor: pointer;
  height: 20%;
  opacity: 1;
}
.fas{
  padding-left: 5px;
  padding-top: 5px;
}
.fa-heart{
  color:red;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #868686;
}
::-webkit-scrollbar{
	height: 14px;
	width: 12px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(48, 48, 48);
}
@media screen and (max-width:400px){
  .movie-poster{
    height: 200px;
  }
  .overlay{
    font-size: 10px;
  }
}
/*
<div className="container">
      <div className="row">
        {props.movies.map((movie, index) => (
          <div className="col-3 mt-3">
            <div className="card h-100">
              <img src={movie.Poster} alt="movie" />
            </div>
          </div>
        ))}
      </div>
    </div>
*/